---
layout: default
title: Home
---

<div class="home-page">
    <br><br>
    <h2>Welcome to my Software Engineering Portfolio!</h2>
    <p style="font-size: 18px;">My name is Adam Nasla, and here you can...</p>
    <br><br>
    <p>Learn more <a href="/aboutme" style="font-size: 20px;">About Me</a></p>
    <p>Read about my <a href="/skills-experience" style="font-size: 20px;">Skills & Experience</a></p>
    <p>Browse through my <a href="/projects" style="font-size: 20px;">Projects</a></p>
</div>
