---
layout: default
title: Home
---

<div class="home-page">
    <br><br>
    <h2>Welcome to my Portfolio!</h2>
    <h4>My name is Adam Nasla and I'm a software engineer.</h4>
    <p>Learn more <a href="/aboutme" style="font-size: 24px;">About Me</a></p>
    <p>Browse through my <a href="/projects" style="font-size: 24px;">Projects</a></p>
</div>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
